.note-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    
    width: 100%;
    height: 100dvh;

    transform: translate(-50%, -50%);
    z-index: 10000;

    background-color: rgba(0, 0, 0, 0.50);

    visibility: hidden;
    opacity: 0;
    
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.nw-active {
    visibility: visible;
    opacity: 1;
}

.note-container{
    width: 100%;
    height: 100%;
    position: relative;
}

.note-paper {
    width: 90%;
    height: 80dvh;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 10dvh;
    left: 5%;
    border-radius: 10px;
}

.note-h-btn{
    display: block;
    width: 26px;
    height: 26px;
    
    position: absolute;
    top: 0%;
    
    border-radius: 4px;
}

#close-btn {
    background: linear-gradient(135deg, rgba(25, 17, 55, 0.7), rgba(24, 45, 63, 0.7));
    -webkit-mask-image: url('../assets/svgs/close-button.svg');
    mask-image: url('../assets/svgs/close-button.svg');
    background-size: 26px 26px;
    right: 0;
}

/* #download-btn{
    background: linear-gradient(135deg, rgb(69, 63, 112), rgba(47, 69, 88, 0.7));
    -webkit-mask-image: url('../assets/svgs/download.svg');
    mask-image: url('../assets/svgs/download.svg');
    background-size: 26px 26px;
    right: 30px;
} */

#download-btn{
    background: url('../assets/svgs/pdf.png');
    background-size: 26px 26px;
    right: 60px;
}

#font-btn{
    background: linear-gradient(135deg, rgb(49, 23, 40), rgba(88, 47, 62, 0.7));
    right: 30px;
    text-align: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
    
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.note-h-btn {
    transition: 0.2s transform ease-in-out;
}

.note-h-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
    opacity: 0.95;
}

#paper > .note-header {
    position: relative;
    min-height: min(40px, 6%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

#paper > .note-header > h2 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: bold;
}

#paper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#paper > .paper-body {
    width: 90%;
    height: 100%;
    overflow-y:scroll;
    margin-bottom: 2%;
}

::-webkit-scrollbar{
    width: .75rem;
}

::-webkit-scrollbar-track{
    background: hsl(0, 0%, 85%);
}

::-webkit-scrollbar-thumb{
    background: hsla(278, 48%, 13%, 0.317);
}

::-webkit-scrollbar-thumb:hover{
    background: hsla(278, 48%, 13%, 0.687);
    cursor: pointer;
}

#paper > .paper-body::-webkit-scrollbar-track{
    margin-block: .75rem;
    border-radius: 100vw;
}

#paper > .paper-body::-webkit-scrollbar-thumb{
    border-radius: 100vw;
    border: 0.2rem solid hsl(0, 0%, 85%);
}

@supports (scrollbar-color: red blue){
    * {
        scrollbar-color: hsla(278, 48%, 13%, 0.317) hsl(0, 0%, 85%);
        scrollbar-width: thin;
    }
}

.paper-body > .text-area {
    width: 95%;
    font-size: 1.6rem;
    line-height: 1.2;
    font-weight: 500;
}

.subtitle {
    color: rgb(58, 11, 11);
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1;
    margin-top: 2.2rem;
}

.author {
    color: rgb(13, 64, 74);
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 0;
    margin-top: 2rem;
}

.postscript {
    color: rgb(34, 46, 47);
    margin-top: 8rem;
    margin-bottom: 3rem;
}

.conclusion {
    color: rgb(30, 80, 115);
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
}

.f-toggled-b, .f-toggled{
    font-family: Toggle;
}

.f-toggled-b {
    font-size: 1rem;
}

h2.f-toggled-b {
    font-size: 1.5rem;
}

.f-toggled .subtitle, .f-toggled .author{
    font-size: 1.1rem;
}

.f-toggled {
    font-size: 1rem !important;
    line-height: 1.5 !important;
}
